
<app-map [coords]="point" [layerType]="layer" (coordsChange)="onEdit($event)"></app-map>

<button (click)="setPoland()">set Poland</button>
<button (click)="setLondek()">set Londek</button>

<br><br>
<button (click)="setMap($event)">map</button>
<button (click)="setSatellite()">satelite</button>

<!-- <h2>
  {{ title }}
</h2>
<p>
  {{ name | uppercase }}
</p>
<p>
  {{  birthday | date:'yyyy' | uppercase}}
</p>
<p [ngStyle]="config" [style.display]="visible ? 'block' : 'none'">
  Counter {{ counter ? 'started' : 'start counting' }}
</p>
<p [style.color]="color" *ngIf="visible">
  property collored
</p>

<ng-container *ngIf="visible; else elseTemplate">
  visible ustawione na true,
  Users here
</ng-container>

<ng-template #elseTemplate>
  Loading...
</ng-template>
<br>


<ng-container *ngIf="visible; then thenTemplate; else elseTemplate2"></ng-container>

<ng-template #thenTemplate>
  THEN
</ng-template>
<ng-template #elseTemplate2>
  ELSE
</ng-template>
 -->

<!-- <br>
<button (click)="updateTitle()" >Uddate</button>


<table>
  <ng-container *ngFor="let user of users; index as i; first as f; odd as o">
    <tr (click)="selected = i">
      <td>{{i + 1}}</td>
      <td>
          {{user.firstname}} first: {{f}} odd: {{o}}
      </td>
    </tr>
    <tr *ngIf="selected===i">
      <td colspan="2">
          {{user.lastname}}
      </td>
      </tr>
  </ng-container>

</table> -->
