<h2>Photo Info</h2>

<button (click)="open = !open">TOGGLE</button>

<div *ngIf="open">

  <ng-container *ngIf="photo$ | async; let photo ; else elseTemplate">

  <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title>{{photo.description}}</mat-card-title>
      </mat-card-header>

      <img [routerLink]="['info', photo.id]" mat-card-image  src="{{photo.filename | photoUrl}}" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </ng-container>
  <ng-template #elseTemplate>
    Loading photo info...
  </ng-template>

  <pre>{{photo$ | async | json}}</pre>
</div>



