<button routerLink='upload'>UPLOAD</button>
<p>
  <router-outlet></router-outlet>
</p>
<h2>Photos</h2>
<mat-card class="example-card" *ngFor="let photo of photos">
  <mat-card-header>
    <mat-card-title>{{photo.description}}</mat-card-title>
  </mat-card-header>

  <img [routerLink]="['info', photo.id]" mat-card-image  src="{{photo.filename | photoUrl}}" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
